<!DOCTYPE html>
<html>
  <head>
    <title>Add Post</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h2>ADD A POST</h2>

    <form method="POST" action="/postadded">
      <p>
        Date:
        <input
          id="post_date"
          type="date"
          name="post_date"
          value="<%=post_date%>"
        />
      </p>

      <p>
        First Name:
        <input
          id="firstname"
          type="text"
          name="firstname"
          value="<%=firstname%>"
        />
      </p>
      <p>
        Surname:
        <input id="surname" type="text" name="surname" value="<%=surname%>" />
      </p>
      <p>
        Email:
        <input id="email" type="email" name="email" value="<%=email%>" />
      </p>
      <p>
        Username:
        <input
          id="username"
          type="text"
          name="username"
          value="<%=username%>"
        />
      </p>
      <!-- <p>
        Topic:
        <input
          id="topic_title"
          type="text"
          name="topic_title"
          value="<%=topic_title%>"
        />
      </p> -->
      <p>
        Topic:
        <select id="topic_title" value="<%=topic_title%>" name="topic_title">
          <option value="">Select a degree</option>
          <option value="Art">Art</option>
          <option value="Design">Design</option>
          <option value="English">English</option>
          <option value="Music">Music</option>
          <option value="Theatre">Theatre</option>
          <option value="Visual Cultures">Visual Cultures</option>
          <option value="Dance and Performance">Dance and Performance</option>
          <option value="Languages">Languages</option>
          <option value="Anthropology">Anthropology</option>
          <option value="History">History</option>
          <option value="Media">Media</option>
          <option value="Politics">Politics</option>
          <option value="Sociology">Sociology</option>
          <option value="Psychology">Psychology</option>
          <option value="Education">Education</option>
          <option value="Business">Business</option>
          <option value="Management">Management</option>
          <option value="Law">Law</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Computing">Computing</option>
          <option value="Games Computing">Games Computing</option>
        </select>
      </p>

      <p>
        Title:
        <input
          id="post_title"
          type="text"
          name="post_title"
          value="<%=post_title%>"
        />
      </p>
      <p>
        Content:
        <textarea id="post_content" type="text" name="post_content" value="">
<%=post_content%></textarea
        >
      </p>
      <input type="submit" value="Add Post" />
    </form>
    <p class="errormessage"><%=errormessage %></p>
  </body>
</html>
