<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to <%=blogName%></title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <h1><center>G O L D B U B B L E</center></h1>
    <!-- ///////navigation bar -->
    <div class="navbar">
      <a href="/">HOME</a>
      <div class="dropdown">
        <button class="dropbtn">
          ARTS AND HUMANITIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/art">Art</a>
          <a href="/design">Design</a>
          <a href="/english">English</a>
          <a href="/music">Music</a>
          <a href="/theatre">Theatre</a>
          <a href="/visualcultures">Visual Cultures</a>
          <a href="/dance&performance">Dance and Performance</a>
          <a href="/languages">Languages</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          CULTURE AND SOCIETY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/anthropology">Anthropology</a>
          <a href="/history">History</a>
          <a href="/media">Media</a>
          <a href="/politics">Politics</a>
          <a href="/sociology">Sociology</a>
          <a href="/psychology">Psychology</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          PROFESSIONAL STUDIES
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/education">Education</a>
          <a href="/business">Business</a>
          <a href="/management">Management</a>
          <a href="/law">Law</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">
          SCIENCE AND TECHNOLOGY
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="/computerscience">Computer Science</a>
          <a href="computing">Computing</a>
          <a href="/gamescomputing">Games Computing</a>
        </div>
      </div>
      <div class="dropdown">
        <% if (user) { %>
        <button class="dropbtn">
          <%= user.username %>
          <i class="fa fa-caret-down"></i>
        </button>
        <a href="/logout" class="logout-button">Log Out</a>
        <% } else { %>
        <button class="dropbtn" onclick="redirectToSignup()">
          LOG IN
          <i class="fa fa-caret-down"></i>
        </button>
        <% } %>
      </div>

      <script>
        function redirectToSignup() {
          window.location.href = "/signup";
        }
      </script>

      <!-- Search Bar-->
      <div class="dropdown">
        <button class="dropbtn">
          SEARCH
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <form action="/search" method="get">
            <input type="text" name="query" placeholder="Search..." />
            <button type="submit">Go</button>
          </form>
        </div>
      </div>
    </div>
    <h1>Welcome to Management</h1>

    <div class="blog-container">
      <div class="row">
        <% if (posts.length > 0) { %> <% posts.forEach(function(post) { %>
        <div class="column">
          <div class="card">
            <h2><%= post.post_title %></h2>
            <h5><%= post.post_date %></h5>
            <% if (user && user.username === post.username) { %>
            <button
              onclick="if (confirm('Are you sure you want to delete this post? It cannot be retrieved.')) {
                    deletePost('<%= post.post_id %>', '<%= user.username %>')
                  }"
            >
              DELETE
            </button>
            <% } %>

            <div class="post-preview">
              <%= post.post_content.substring(0, 100) + '...' %>
            </div>
            <a
              href="#"
              class="read-more-link"
              data-post="<%= JSON.stringify(post) %>"
              >Read More</a
            >
            <div class="author">By <%= post.username %></div>
            <div class="topic">Topic: <%= post.topic_title %></div>
          </div>
        </div>
        <% }); %> <% } else { %>
        <div class="column">
          <div class="card">
            <h2>No posts yet</h2>
            <p>Check back later for updates.</p>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <script>
      const readMoreLinks = document.querySelectorAll(".read-more-link");

      readMoreLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
          event.preventDefault();
          const post = JSON.parse(link.dataset.post);
          const postContent = post.post_content;
          const postPreview = link.parentNode.querySelector(".post-preview");
          postPreview.innerHTML = postContent;
          const showLessButton = document.createElement("a");
          showLessButton.href = "#";
          showLessButton.textContent = "Show Less";
          showLessButton.addEventListener("click", (event) => {
            event.preventDefault();
            postPreview.innerHTML = post.post_content.substring(0, 100) + "...";
            showLessButton.remove();
            link.style.display = "inline-block";
          });
          link.parentNode.insertBefore(showLessButton, link.nextSibling);
          link.style.display = "none";
        });
      });
    </script>
    <script>
      function deletePost(postId, username) {
        const xhr = new XMLHttpRequest();
        const url = `/posts/${postId}?username=${username}`;

        xhr.onreadystatechange = function () {
          if (this.readyState === XMLHttpRequest.DONE) {
            if (this.status === 200) {
              window.location.reload();
            } else {
              console.log("Error:", this.statusText);
            }
          }
        };

        xhr.open("DELETE", url);
        xhr.send();
      }
    </script>
  </body>
</html>
